.titulo{
    color: aliceblue;
}

.parrafo {
    color: aliceblue;
}

.card-information {
    margin: 2%;
    display: flex;
    justify-content: center;
}

.tecnologias {
    width: auto;
    height: 340px;
}

.prueba {
    width: auto;
    height: auto;
    background-color: aqua;
}

#express{
    padding-top: 25%;
    padding-bottom: 22%;
}