* {
    color: white;
}

#bg-movie{
    max-width: 100%;
    max-height: 700px;
    overflow: hidden;
}

.movie {
    margin: 20px;
}


.titleMovie {
    font-size: 30px;
}

.descriptionMovie{
    margin-top: 8%;
    font-size: 20px;
}

.poster{
    margin: 1px;
}

.container-movies {
    margin-top: 5%;
    padding: 0px 18%;
}

footer {
    padding-top: 5%;
    padding: 0% 10%;
    font-size: 30px;
    text-align: center;
}




/*body {
    background-image: url('../assets/img/bg.jpg');
    color: white;
}

.container-fluid{
    background-color: aqua;
}

.navbar {
    padding: 10px;
    background-color: rgb(0, 0, 0, 0);
    
}

.nav-item a{
    color: white;
}

#logo {
    font-size: 30px;
    
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

.container-movies {
    padding: 0% 15%; 
    margin: 5%;
}

.movies {
    font-size: 15px;
}


footer div p {
    background-color: #AAAAAA;
    font-size: 25px;
}*/

/*Usaré esto como plantilla*/